<nav class="top-bar" id="myapp-top-bar" data-topbar>
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1>
                <a href="/">myapp</a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon">
            <a href="#">
                <span>Menu</span>
            </a>
        </li>
    </ul>

    <section class="top-bar-section">

        <!-- Left Nav Section -->
        <ul class="left">
            <li class="divider"></li>
                    <li><a href="/signup">Signup</a></li>
            <li class="divider"></li>
                    <li><a href="/register">Register</a>
            <li class="divider"></li>
                    <li><a href="/maillist">Maillist</a></li>
            <li class="divider"></li></li>
        </ul>

        <!-- Right Nav Section -->
        {{if .user_basic}}
        <ul class="right">
            <li id="menu-user" class="has-dropdown"><a href="/u">{{.user_basic.UserName}}</a>
                <ul class="dropdown">
                    <li><a href="/u/dashboard">Dashboard</a></li>
                    <li><a href="/u/account">Account</a></li>
                    <li><a href="/u/files">Files</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">Logout</a></li>
                    {{if .session.admin}}
                    <li class="divider"></li>
                    <li id="menu-admin" class="has-dropdown"><a href="/a">Admin</a>
                        <ul class="dropdown">
                            <li><a href="/a/maillistview">List View</a></li>
                            <li><a href="/a/maillistcompose">List Compose</a></li>
                        </ul>
                    </li>
                    {{end}}
                </ul>
            </li>
        </ul>
        {{else}}
        <ul class="right">
            <li class="active"><a href="/login">Login</a></li>
        </ul>
        {{end}}

    </section>

</nav>
