{{set . "title" "Index"}}

{{template "templates/header.html" .}}
{{template "templates/menu.html" .}}

<div class="row">
    <div class="large-12 large-centered small-12 small-centered columns">
        <div class="panel">
            <h3>Welcome</h3>

            <div class="row">
                <div class="large-6 small-6 columns">
                    <a href="/signup" class="button">Signup</a>
                </div>
                <div class="large-6 small-6 columns">
                    <a href="/register" class="button">Register</a>
                </div>
            </div>

            <div class="row">
                <div class="large-6 small-6 columns">
                    <a href="/maillist" class="button">Maillist</a>
                </div>
                <div class="large-6 small-6 columns">
                    <a href="/login" class="button">Login</a>
                </div>
            </div>

        </div>
    </div>
</div>

{{template "templates/footer.html" .}}
