
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
 
    {{if .foundation}}
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/iam/public/css/foundation.css" />
    {{end}}
    
    {{if .bootstrap}}
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/iam/public/css/bootstrap.css" />
    {{end}}
    
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/public/css/myapp.css" />

    <!-- font based icons -->
    <link href="/iam/public/fonts/whhq/css/icons.css" rel="stylesheet" type='text/css'>


    <script src="/iam/public/js/vendor/head.load.min.js" type="text/javascript" charset="utf-8"></script>
    <script>
    head.ready("foundation", function() {
        {{if .foundation}}
        $(document).foundation();
        {{end}}
    })
    head.js({jquery: "/iam/public/js/vendor/jquery/jquery-2.0.3.min.js"})

        {{if .foundation}}
        .js({foundation: "/iam/public/js/vendor/foundation.min.js"})
        {{end}}

        .js({myapp: "/public/js/myapp.js"})

    </script>
    <script src="/iam/public/js/vendor/custom.modernizr.js" type="text/javascript" charset="utf-8"></script>
