
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
 

    <link rel="stylesheet" type="text/css" charset="utf-8" href="/iam/public/css/normalize.css" />
 
    {{if .foundation_css}}
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/iam/public/css/foundation.min.css" />
    {{end}}
    
    {{if .bootstrap_css}}
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/iam/public/css/bootstrap.min.css" />
    {{end}}
    
    <!-- font based icons -->
    {{if .font_icons}}
    <link href="/iam/public/fonts/whhq/css/icons.css" rel="stylesheet" type='text/css'>
    {{end}}

    <script src="/iam/public/js/vendor/head.load.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/iam/public/js/vendor/modernizr.js" type="text/javascript" charset="utf-8"></script>
