
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
 
    {{if .foundation}}
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/public/css/foundation.css" />
    {{end}}
    
    {{if .bootstrap}}
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/public/css/bootstrap.css" />
    {{end}}
    
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/public/css/iassic.css" />
    {{if .user}}
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/public/css/iassic-app.css" />
    {{end}}

    <!-- font based icons -->
    <link href="/public/fonts/whhq/css/icons.css" rel="stylesheet" type='text/css'>


    <script src="/public/js/vendor/head.load.min.js" type="text/javascript" charset="utf-8"></script>
    <script>
    head.ready("foundation", function() {
        {{if .foundation}}
        $(document).foundation();
        {{end}}
    })
    head.js({jquery: "/public/js/vendor/jquery-2.0.3.min.js"})

        {{if .foundation}}
        .js({foundation: "/public/js/foundation.min.js"})
        {{end}}

        {{if .bootstrap}}
        .js({foundation: "/public/js/foundation.min.js"})
        {{end}}

    </script>
    <script src="/public/js/vendor/custom.modernizr.js" type="text/javascript" charset="utf-8"></script>
