{{set . "title" "Admin ListView"}}

{{template "templates/header.html" .}}
{{template "templates/menu.html" .}}

<div class="row">
    <div class="large-12 large-centered small-12 small-centered columns">
        <div id="maillist_userlist" class="panel">

            <div class="row">
    			<div class="large-2 small-2 columns">
					UserId
    			</div>
    			<div class="large-2 small-2 columns">
					Email
    			</div>
    			<div class="large-2 small-2 columns">
					List
    			</div>
    			<div class="large-2 small-2 columns">
					Activated
    			</div>

    			<div class="large-4 small-4 columns">
    			</div>
			</div>

        	{{range $muser := .maillist_users}}
			<div class="row">
   				<div class="large-2 small-2 columns">
					{{$muser.UserId}}
    			</div>
    			<div class="large-2 small-2 columns">
					{{$muser.Email}}
    			</div>
    			<div class="large-2 small-2 columns">
					{{$muser.List}}
    			</div>
    			<div class="large-2 small-2 columns">
					{{$muser.Activated}}
    			</div>

    			<div class="large-4 small-4 columns">
					<a href="/view" class="button">View</a>
					<a href="/edit" class="button">Edit</a>
					<a href="/delete" class="button">Delete</a>
    			</div>
			</div>
			{{end}}

        </div>
    </div>
</div>

{{template "templates/footer.html" .}}
