{{set . "title" "Dashboard"}} 
{{append . "moreScripts" "/public/js/ws_comm/ws_comm.js"}} 
{{appendjs . "moreHead" "initComm();"}} 
{{template "templates/header.html" .}} 
{{template "templates/menu.html" .}}

<div class="row">
    <div class="large-12 large-centered small-12 small-centered columns">
        <div class="panel">
            <h3>Welcome</h3>

            <div class="row">
                <div class="large-6 small-6 columns">
                    <a href="/u" class="button">User Home</a>
                </div>
                <div class="large-6 small-6 columns">
                    <a href="/account" class="button">Account</a>
                </div>
            </div>

            <div class="row">
                <div class="large-6 small-6 columns">
                    <a href="/u/files" class="button">Files</a>
                </div>
                <div class="large-6 small-6 columns">
                    <a href="/logout" class="button">Logout</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 large-centered small-12 small-centered columns">
        <div class="panel">
            <h4>Say hi to the server</h4>

            <input type="hidden" name="csrf_token" id="csrf_token" value="{{ .csrf_token }}" />
            <input type="text" id="comm_input" value="run test" />
            <a class="button" id="send_msg_btn">Send Msg</a>

        </div>
    </div>
</div>

{{template "templates/footer.html" .}}