{{set . "title" "Files"}}

{{append . "moreStyles" "/ipa/css/jquery-ui.min.css"}}
{{append . "moreStyles" "/ipa/css/skin/ui.dynatree.css"}}

{{append . "moreScripts" "/ipa/js/jquery-ui.min.js"}}
{{append . "moreScripts" "/ipa/js/jquery.dynatree.min.js"}}

{{appendjs . "moreHead" "init_dynatree();"}}

{{template "templates/header.html" .}}
{{template "templates/menu.html" .}}

<div class="row">

    <div class="medium-12 columns" id="data-tab-left">
        <div class="iPanel" id="data-panel">
            <b>Data Files</b>
            <form action="/dataupload" enctype="multipart/form-data" method="POST">
                <input type="hidden" name="csrf_token" id="csrf_token" value="{{ .csrf_token }}" />
                <input type="file" name="filedata" id="filedata" style="display:none" webkitdirectory onchange="uploadDataFiles(this.files);">
                <input type="submit" id="submit-file" style="display:none">
                <div class="progress" id="progress-bar" style="display:none">
                    <span class="meter" id="upload-progress"></span>
                </div>
                <a class="button tiny" id="upload-btn" onclick="openFileOption();return;">Upload</a>
            </form>
            <div id="user-filelist">
                <div id="tree" style="height: 400px"></div>
            </div>

        </div>
    </div>


</div>

{{template "templates/footer.html" .}}
