{{set . "title" "Maillist"}}

{{template "templates/header.html" .}}
{{template "templates/menu.html" .}}

<div class="row">
    <div class="large-6 large-centered small-8 small-centered columns">
        <div class="panel">
            <h3>Welcome</h3>

            <div class="row">
                <div class="large-12 small-12 columns">
                    <form action="/maillist" method="POST" data-abide>
                        <fieldset>
                            <legend>Join the mailing list</legend>
                            <input type="hidden" name="csrf_token" id="csrf_token" value="{{ .csrf_token }}" />
                            {{with $field := field "usermaillist.Email" .}}
                            <div class="large-12 columns">
                                <label for="{{$field.Id}}">Email <small>required</small>
                                    <input id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" class="{{$field.ErrorClass}}"
                                    type="email" placeholder="user@domain.com" autofocus>
                                </label>
                                {{if $field.Error}}<span class="error">{{$field.Error}}</span>{{end}}
                            </div>
                            {{end}}

                            <button type="submit" class="button">Signup</button>
                        </fieldset>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{{template "templates/footer.html" .}}
