<!DOCTYPE html>

<html lang="en">

<head>
    <title>test - {{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!--  app css includes -->
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/ipa/css/normalize.css" />
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/ipa/css/foundation.min.css" />
    <!-- <link rel="stylesheet" type="text/css" charset="utf-8" href="/public/css/foundation-custom.min.css" /> -->

    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="{{.}}">
    {{end}}

    <script src="/ipa/js/head.load.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/ipa/js/modernizr.js" type="text/javascript" charset="utf-8"></script>

    <!-- app js/css files loaded asychronously -->
    <script>
    head.ready(function() {

        {{if .foundation_js}}
        $(document).foundation();
        {{end}}
    })
    head
        .js({jquery: "/ipa/js/jquery-2.1.0.min.js"})
        .js({foundation_js: "/ipa/js/foundation.min.js"})     // default foundation js
        // .js({foundation_js: "/public/js/foundation-custom.min.js"})     // custom foundation js

        {{range $index, $element := .moreScripts}}
            .js({extrascript_{{$index}}: "{{$element}}")     // default foundation js
        {{end}}

        .js({ user_auth_css: "/public/css/user_auth.css"})
        .js({ user_auth_js: "/public/js/user_auth.min.js"})

    </script>

</head>

<body>

