
<div id="iassic-links" class="row">
    <div class="large-3 columns">
    	<ul class="no-bullet">
    		<li><a href="/"><b>myapp</b></a></li>
    		<li><a href="/signup">Signup</a></li>
    		<li><a href="/pricing">Pricing</a></li>
    		<li><a href="/policies">Policies</a></li>
    	</ul>
    </div>
    <div class="large-3 columns">
    	<ul class="no-bullet">
    		<li><a href="/explore"><b>Explore</b></a></li>
    		<li><a href="/tour">Tour</a></li>
    		<li><a href="/samples">Samples</a></li>
    		<li><a href="/community">Community</a></li>
    	</ul>
    </div>
    <div class="large-3 columns">
    	<ul class="no-bullet">
    		<li><a href="/edu"><b>Learn</b></a></li>
    		<li><a href="/overview">Overview</a></li>
    		<li><a href="/tutorials">Tutorials</a></li>
            <li><a href="/docs">Documentation</a></li>
    	</ul>
    </div>
    <div class="large-3 columns">
    	<ul class="no-bullet">
    		<li><a href="/about"><b>About</b></a></li>
            <li><a href="/social">Social</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/contact">Blog</a></li>
    	</ul>
    </div>
</div>
