<!DOCTYPE html>

<html lang="en">

<head>
    <title>myapp - {{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!--  app css includes -->
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/public/css/myapp.css" />

    <script src="/ipa/js/head.load.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/ipa/js/modernizr.js" type="text/javascript" charset="utf-8"></script>

    <!-- app js/css files loaded asychronously -->
    <script>
    head.ready(function() {

        {{if .foundation_js}}
        $(document).foundation();
        {{end}}
    })
    head
        .js({jquery: "/ipa/js/jquery-2.0.3.min.js"})
        .js({foundation_css: "/ipa/css/foundation.min.css"})
        .js({foundation_js: "/ipa/js/foundation.min.js"})
        .js({myapp: "/public/js/myapp.js"})

    </script>

</head>

<body>

