<nav class="top-bar" id="myapp-top-bar" data-topbar>
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1>
                <a href="/">myapp</a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon">
            <a href="#">
                <span>Menu</span>
            </a>
        </li>
    </ul>

    <section class="top-bar-section">

        <!-- START Left Nav Section -->
        <ul class="left">

            <li class="divider"></li>

            <li class="has-dropdown"><a>myapp</a>
                <ul class="dropdown">
                    <li><a href="/signup">Signup</a>
                    </li>
                    <li><a href="/pricing">Pricing</a>
                    </li>
                    <li><a href="/policies">Policies</a>
                    </li>
                </ul>
            </li>

            <li class="divider"></li>

            <li class="has-dropdown"><a href="/explore">Explore</a>
                <ul class="dropdown">
                    <li><a href="/tour">Tour</a>
                    </li>
                    <li><a href="/samples">Samples</a>
                    </li>
                    <li><a href="/community">Community</a>
                    </li>
                </ul>
            </li>
            <li class="divider"></li>

            <li class="has-dropdown"><a href="/edu">Learn</a>
                <ul class="dropdown">
                    <li><a href="/overview">Overview</a>
                    </li>
                    <li><a href="/tutorials">Tutorials</a>
                    </li>
                    <li><a href="/docs">Documentation</a>
                    </li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="/about">About</a>
                <ul class="dropdown">
                    <li><a href="/social">Social</a>
                    </li>
                    <li><a href="/contact">Contact</a>
                    </li>
                    <li><a href="/blog">Blog</a>
                    </li>
                </ul>
            </li>
            <li class="divider"></li>
        </ul>
        <!-- END Left Nav Section -->

    </section>

</nav>
