<h3>Page Requests</h3>

<div class="row">
    <div class="large-12 columns">
        <div class="small-4 columns">
            <select id="analytics-pagereqs-field-group">
                <option value="visitor">Visitor</option>
                <option value="user">User</option>
            </select>
        </div>
        <div class="small-4 columns">
            <input type="number" id="analytics-pagereqs-field-id" value=0 />
        </div>
        <div class="small-4 columns">
            <input type="hidden" name="csrf_token" id="csrf_token" value="{{ .csrf_token }}" />
            <a class="button" id="analytics-pagereqs-filter-button">Update</a>

        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="panel" id="analytics-pagereqs-results">
            <h3>Results</h3>

            <div class="row">
                <div class="large-12 columns">
                    <div class="row">
                        <div class="small-2 columns">
                            Time
                        </div>
                        <div class="small-2 columns">
                            Id
                        </div>
                        <div class="small-2 columns">
                            Url
                        </div>
                        <div class="small-2 columns">
                            Host
                        </div>
                        <div class="small-2 columns">
                            IpAddr
                        </div>
                        <div class="small-2 columns">
                            Referer
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>