<div class="row">
    <div class="large-6 large-centered small-8 small-centered columns">
        <div class="panel">

              <form action="/register" method="POST" data-abide>

                <input type="hidden" name="csrf_token" value="{{ .csrf_token }}" />

                <div class="row">

                    {{with $field := field "userregister.Fname" .}}
                    <div class="large-5 columns">
                        <div class="firstname-field">
                            <label for="{{$field.Id}}">First Name <small>required</small>
                                 <input id="{{$field.Id}}" name="{{$field.Name}}" value="{{firstof $field.Flash $field.Value}}" class="{{$field.ErrorClass}}"
                                    type="text" placeholder="John" autofocus>
                            </label>
                            {{if $field.Error}}<span class="error">{{$field.Error}}</span>{{end}}
                        </div>
                    </div>
                    {{end}}

                    {{with $field := field "userregister.MidInit" .}}
                    <div class="large-2 columns">
                        <div class="mi-field">
                            <label for="{{$field.Id}}">MI
                                <input id="{{$field.Id}}" name="{{$field.Name}}" value="{{firstof $field.Flash $field.Value}}" class="{{$field.ErrorClass}}"
                                    type="text" placeholder="MI">
                            </label>
                             {{if $field.Error}}<span class="error">{{$field.Error}}</span>{{end}}
                        </div>
                    </div>
                    {{end}}


                    {{with $field := field "userregister.Lname" .}}
                    <div class="large-5 columns">
                        <div class="lastname-field">
                            <label for="{{$field.Id}}">Last Name <small>required</small>
                                 <input id="{{$field.Id}}" name="{{$field.Name}}" value="{{firstof $field.Flash $field.Value}}" class="{{$field.ErrorClass}}"
                                    type="text" placeholder="Doe">
                            </label>
                            {{if $field.Error}}<span class="error">{{$field.Error}}</span>{{end}}
                        </div>
                    </div>
                    {{end}}

                </div>

                {{with $field := field "userregister.Email" .}}
                <div class="email-field">
                    <label for="{{$field.Id}}">Email<small>required</small>
                        <input id="{{$field.Id}}" name="{{$field.Name}}" value="{{firstof $field.Flash $field.Value}}" class="{{$field.ErrorClass}}"
                                    type="text" placeholder="Dan@something.com">
                    </label>
                    {{if $field.Error}}<span class="error">{{$field.Error}}</span>{{end}}
                </div>
                {{end}}

                {{with $field := field "userregister.Dob" .}}
                <div class="dob-field">
                    <label for="{{$field.Id}}">Date of Birth<small>required</small>
                        <input id="{{$field.Id}}" name="{{$field.Name}}" value="{{firstof $field.Flash $field.Value}}" class="{{$field.ErrorClass}}"
                                    type="text" placeholder="12-28-2014">
                    </label>
                    {{if $field.Error}}<span class="error">{{$field.Error}}</span>{{end}}
                </div>
                {{end}}

                {{with $field := field "userregister.Sex" .}}
                <div class="sex-field">
                    <label for="{{$field.Id}}">Sex<small>required</small>
                         <input id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" class="{{$field.ErrorClass}}"
                                    type="text" placeholder="M/F">
                    </label>
                    {{if $field.Error}}<span class="error">{{$field.Error}}</span>{{end}}
                </div>
                {{end}}

                {{with $field := field "userregister.Address1" .}}
                <div class="address1-field">
                    <label for="{{$field.Id}}">Address<small>required</small>
                        <input id="{{$field.Id}}" name="{{$field.Name}}" value="{{firstof $field.Flash $field.Value}}" class="{{$field.ErrorClass}}"
                                    type="text" placeholder="177 rainbow rd">
                    </label>
                    {{if $field.Error}}<span class="error">{{$field.Error}}</span>{{end}}
                </div>
                {{end}}

                {{with $field := field "userregister.Address2" .}}
                <div class="address2-field">
                    <label for="{{$field.Id}}">Address
                        <input id="{{$field.Id}}" name="{{$field.Name}}" value="{{firstof $field.Flash $field.Value}}" class="{{$field.ErrorClass}}"
                                    type="text" placeholder="apartment 4">
                    </label>
                    {{if $field.Error}}<span class="error">{{$field.Error}}</span>{{end}}
                </div>
                {{end}}

                {{with $field := field "userregister.City" .}}
                <div class="city-field">
                    <label for="{{$field.Id}}">City<small>required</small>
                        <input id="{{$field.Id}}" name="{{$field.Name}}" value="{{firstof $field.Flash $field.Value}}" class="{{$field.ErrorClass}}"
                                    type="text" placeholder="New york city">
                    </label>
                    {{if $field.Error}}<span class="error">{{$field.Error}}</span>{{end}}
                </div>
                {{end}}

                {{with $field := field "userregister.State" .}}
                <div class="state-field">
                    <label for="{{$field.Id}}">State<small>required</small>
                        <input id="{{$field.Id}}" name="{{$field.Name}}" value="{{firstof $field.Flash $field.Value}}" class="{{$field.ErrorClass}}"
                                    type="text" placeholder="NY">
                    </label>
                    {{if $field.Error}}<span class="error">{{$field.Error}}</span>{{end}}
                </div>
                {{end}}

                {{with $field := field "userregister.Zipcode" .}}
                <div class="zipcode-field">
                    <label for="{{$field.Id}}">Zip Code<small>required</small>
                        <input id="{{$field.Id}}" name="{{$field.Name}}" value="{{firstof $field.Flash $field.Value}}" class="{{$field.ErrorClass}}"
                                    type="text" placeholder="10001">
                    </label>
                    <small class="error">Your zip code is required.</small>
                </div>
                {{end}}

                {{with $field := field "userregister.Country" .}}
                <div class="country-field">
                    <label for="{{$field.Id}}">Country<small>required</small>
                        <input id="{{$field.Id}}" name="{{$field.Name}}" value="{{firstof $field.Flash $field.Value}}" class="{{$field.ErrorClass}}"
                                    type="text" placeholder="United States of America">
                    </label>
                    {{if $field.Error}}<span class="error">{{$field.Error}}</span>{{end}}
                </div>
                {{end}}

                {{with $field := field "userregister.PhoneNumber" .}}
                <div class="phone-field">
                    <label for="{{$field.Id}}">Phone Number<small>required</small>
                        <input id="{{$field.Id}}" name="{{$field.Name}}" value="{{firstof $field.Flash $field.Value}}" class="{{$field.ErrorClass}}"
                                    type="text" placeholder="123-456-7891">
                    </label>
                    {{if $field.Error}}<span class="error">{{$field.Error}}</span>{{end}}
                </div>
                {{end}}


                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</div>